:root {
  --tt-slash-decoration-bg-color: var(--tt-gray-light-a-100);
  --tt-slash-decoration-color: var(--tt-gray-light-a-400);
}

.dark {
  --tt-slash-decoration-bg-color: var(--tt-gray-dark-a-100);
  --tt-slash-decoration-color: var(--tt-gray-dark-a-400);
}

span.tiptap-slash-decoration {
  color: transparent;
  font-size: 0;
  letter-spacing: 0;
  position: relative;
}

span.tiptap-slash-decoration::after {
  font-size: 13px;
  letter-spacing: normal;
  color: var(--tt-slash-decoration-color);
  background: var(--tt-slash-decoration-bg-color);
  border-radius: var(--tt-radius-xs);
  padding: 2px 6px;
}

span.tiptap-slash-decoration.is-empty::after {
  content: attr(data-decoration-content);
}

.tiptap-slash-card-body {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .tiptap-slash-card {
    min-width: 15rem;
  }
}
